/* Apply styles to the table */
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  background-color: #222;
  /* Dark background color */
  color: #fff;
  /* Light text color */
  font-size: 0.8em;
}

/* Style the table header */
th {
  background: none;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  border-bottom: 2px solid #444;
  /* Slightly darker border color */
}

/* Style the table cells */
td {
  padding: 6px;
  border-bottom: 1px solid #444;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #333;
  /* Darker background for even rows */
}

/* Hover effect for table rows */
tr:hover {
  background-color: #444;
  /* Slightly lighter background on hover */
}

/* Style the links */
a {
  color: #70b4eb;
  /* Light color for links */
  text-decoration: none;
  /* Remove underlines from links */
}

/* Hover effect for links */
a:hover {
  text-decoration: underline;
  /* Underline links on hover */
}

/* Style the "Last Updated" at the bottom */
p {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #888;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

/* Add left padding to the entire leftmost column */
td:first-child,
th:first-child {
  width: 1em;
}

/* Set background to something dark for the overall body (outside the table) */
body {
  background: #171717;
}

/* Define a class for green-colored icons */
.green-icon {
  color: #9de598;
}

/* Define a class for red-colored icons (and entire row) */
.red-icon,
.alert {
  color: #ff5c3f;
}

/* Define a class for green-colored icons */
.green-icon {
  color: #9de598;
}

/* Define a class for "pending" cells */
.red-cell {
  background-color: #ff5c3f;
}

.red-cell>a {
  color: black
}

/* Define a class for "pending" cells */
.yellow-cell {
  background-color: #aa9d26;
}

.yellow-cell>a {
  color: black
}

/* Define a class for red-colored icons (and entire row) */
.red-icon,
.alert {
  color: #ff5c3f;
}

/* Media query for larger viewports */
@media (min-width: 1050px) {
  table {
    width: 70%;
    font-size: 0.9em;
  }

  p {
    margin-right: 15vw;
  }

  td {
    padding: 8px;
  }
}