/* Apply styles to the table */
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

/* Style the table header */
th {
  background: none;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  border-bottom: 2px solid #444; /* Slightly darker border color */
}

/* Style the table cells */
td {
  padding: 8px;
  border-bottom: 1px solid #444;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #333; /* Darker background for even rows */
}

/* Hover effect for table rows */
tr:hover {
  background-color: #444; /* Slightly lighter background on hover */
}

/* Style the links */
a {
  color: #70b4eb; /* Light color for links */
  text-decoration: none; /* Remove underlines from links */
}

/* Hover effect for links */
a:hover {
  text-decoration: underline; /* Underline links on hover */
}

/* Style the "Last Updated" paragraph */
p {
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #888; /* Lighter text color for the paragraph */
}

/* Add left padding to the entire leftmost column */
td:first-child, th:first-child {
  ppadding-left: 0vw; /* Adjust the amount of padding as needed */
  width: 1em;
}
/* Add left padding to the entire leftmost column */
td:last-child, th:last-child {
  ppadding-right: 0vw; /* Adjust the amount of padding as needed */
}

/* Set background to black for the overall body (outside the table) */
body {
  background: #171717;
}

/* Define a class for green-colored icons */
.green-icon {
    color: #9de598;
}

/* Define a class for red-colored icons */
.red-icon, .alert {
  color: #ff5c3f;
}

/* Media query for larger viewports */
@media (min-width: 1000px) {
  table {
    width: 70%; /* Set width to 80% for viewports with a minimum width of 768px */
  }
  p {
    margin-right: 15vw;
  }
}




.colors {
  color: #3b2765;
  color: #7b6db0;
  color: #504145;
  color: #bdc1c6;
  color: #ae9bf7;
}